    .fila-peli {
        display: flex;
        background-color: rgb(226, 223, 223);
        width: 80%;
        height: 100px;
        margin: 0px 10% 0px 10%;
        align-items: center;
        justify-content: space-between;
    }
    .c1 {
        width: 25%;
    }
    button {
        padding: 1em 2em 1em 2em;
        background-color: green;
        color: white;
        border: none;
        margin-left: 2px;
    }
    button:hover {
        padding: 1em 2em 1em 2em;
        background-color: red; 
        border: none;
        cursor: no-drop;
    }

    .descatalogada {
        color:red;
    }
    .cursiva {
        font-style: italic;
    }